*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "LeagueSpartan", "Roboto", "Lato", sans-serif;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding-inline: 15px;
}

/*=============================================== header =================================================*/

header {
  margin-top: 40px;
  margin-bottom: 138px;
}

.header_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo_text {
  font-weight: 500;
  font-size: 36px;
  color: #263238;
}

nav {
  display: flex;
  justify-content: center;
  gap: 220px;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
  list-style: none;
}

.nav_list-link {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  color: #263238;
  text-decoration: none;
}

.nav_list-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #000;
  transition: all 0.3s ease;
}

.nav_list-link:hover::after {
  width: 100%;
}

.header_btns {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sign_in {
  border: 1px solid #263238;
  border-radius: 10px;
  padding: 13px 41px;
  font-weight: 500;
  font-size: 18px;
  color: #263238;
  text-decoration: none;
}

.get_started {
  border-radius: 10px;
  padding: 14px 21px;
  background: #008000;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.get_started:hover {
  background-color: #00b300;
}

.burger {
  position: relative;
  width: 34px;
  height: 30px;
  cursor: pointer;
  display: none;
  z-index: 999;
}

.burger_item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  display: block;
  transition: all 0.5s ease;
}

.burger_item:nth-child(1) {
  transform-origin: left top;
  top: 0;
}

.burger_item:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.burger_item:nth-child(3) {
  bottom: 0;
  transform-origin: left bottom;
}

.burger.active .burger_item:nth-child(1) {
  transform: rotate(45deg) translate3d(1px, 2px, 0);
}

.burger.active .burger_item:nth-child(2) {
  opacity: 0;
}

.burger.active .burger_item:nth-child(3) {
  transform: rotate(-45deg) translate3d(1px, -2px, 0);
}

/*============================================== intro =================================================*/

.intro {
  margin-bottom: 200px;
}

.decoration_header {
  position: absolute;
  top: 0;
}

.decorations {
  position: absolute;
  width: 100%;
  max-width: 1400px;
}

.star_1 {
  position: absolute;
  top: 245px;
  left: 237px;
}

.dollar_1 {
  position: absolute;
  top: 440px;
  left: 8.22px;
}

.ellipse_1 {
  position: absolute;
  top: 565px;
  left: 340px;
}

.dollar_2 {
  position: absolute;
  top: -60px;
  left: 1000px;
}

.ellipse_2 {
  position: absolute;
  top: 205px;
  left: 1200px;
}

.star_2 {
  position: absolute;
  top: 632px;
  left: 1205px;
}

.naira {
  position: absolute;
  top: 231px;
  left: 1390px;
}

.intro_inner {
  width: 100%;
  max-width: 1400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.intro_title {
  width: 100%;
  max-width: 923px;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: #263238;
  margin-bottom: 69px;
}

.intro_title span {
  color: #008000;
}

.intro_text {
  width: 100%;
  max-width: 725px;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-align: center;
  color: #263238;
  margin-bottom: 48px;
}

form {
  width: 100%;
  max-width: 533px;
  height: auto;
  border-radius: 10px;
  background: rgba(38, 50, 56, 0.1);
  display: flex;
  align-items: center;
}

form input {
  font-weight: 500;
  font-size: 18px;
  color: #263238;
  outline: none;
  border: none;
  background: none;
  padding: 14px;
  flex: 1;/
}

.mail_btn {
  border-radius: 10px;
  padding: 13px 25px;
  width: 100%;
  max-width: 163px;
  height: 64px;
  background: #008000;
  border: none;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.mail_btn:hover {
  background-color: #00b300;
}

.logos {
  width: 100%;
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  margin-top: 200px;
  position: relative;
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos::before,
.logos::after {
  content: "";
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  z-index: 2;
}

.logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}


.logos-slide {
  display: inline-block;
  animation: 5s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}


/*============================================= works ==================================================*/

.works {
  margin-bottom: 200px;
}

.works_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.works_title {
  width: 100%;
  max-width: 575px;
  font-weight: 700;
  font-size: 64px;
  color: #263238;
  margin-bottom: 32px;
}

.works_title span {
  color: #008000;
}

.works_text {
  width: 100%;
  max-width: 575px;
  font-weight: 400;
  font-size: 18px;
  line-height: 177%;
  color: #263238;
}

.works_instructions {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.works_instruction {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 32px;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.works_instruction:hover {
  background: rgba(0, 128, 0, 0.1);
}

.works_instruction:hover .works_img {
  background: none;
}

.works_img {
  width: 100%;
  max-width: 110px;
  height: 110px;
  background: rgba(0, 128, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.works_instruction-info {
  width: 100%;
  max-width: 348px;
}

.works_instruction-title {
  font-weight: 700;
  font-size: 20px;
  color: #263238;
}

.works_instruction-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #263238;
}

.img_cont img {
  width: 100%;
}

/*============================================== pathway ================================================*/

.pathway {
  margin-bottom: 200px;
}

.pathway_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pathway_img img {
  width: 100%;
}

.pathway_title {
  width: 100%;
  max-width: 570px;
  font-weight: 700;
  font-size: 70px;
  color: #263238;
}

.pathway_title span {
  color: #008000;
}

.pathway_text {
  width: 100%;
  max-width: 563px;
  font-weight: 400;
  font-size: 18px;
  line-height: 177%;
  color: #263238;
  margin: 32px 0 48px;
}

.pathway_containers {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.accordion-item {
  width: 100%;
  height: auto;
  max-width: 600px;
  border-radius: 10px;
  background: rgba(0, 128, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 30px;
}

.pathway_container-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 177%;
  color: #263238;
}

.accordion-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.accordion-body {
  display: none;
  margin-top: 25px;
  border-radius: 10px;
}

.accordion-body.active {
  display: block;
}

/*========================================== learnmore ==================================================*/

.learnmore {
  margin-bottom: 200px;
}

.learnmore_inner {
  display: flex;
  justify-content: space-between;
}

.learnmore img {
  width: 100%;
  max-width: 680px;
}

.learnmore_info {
  margin-bottom: 48px;
}

.learnmore_title {
  width: 100%;
  max-width: 488px;
  font-weight: 700;
  font-size: 70px;
  color: #263238;
}

.learnmore_title span {
  color: #008000;
}

.learnmore_text {
  width: 100%;
  max-width: 563px;
  font-weight: 400;
  font-size: 18px;
  line-height: 177%;
  color: #263238;
  margin-top: 32px;
}

.learnmore_containers {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 57px;
}

.learnmore_container {
  width: 100%;
  max-width: 400px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.learnmore_img-cont {
  width: 100%;
  max-width: 64px;
  height: 64px;
  border-radius: 100%;
  background: rgba(0, 128, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.learnmore_img-cont p {
  font-weight: 700;
  font-size: 36px;
  color: #008000;
}

.learnmore_container-text {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  color: #263238;
}

.learnmore_link {
  width: 100%;
  border-radius: 10px;
  background: #008000;
  padding: 20px 55px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease;
}

.learnmore_link:hover {
  background-color: #00b300;
}

/*============================================== customers ==============================================*/

.customers {
  margin-bottom: 200px;
}

.customers_headline {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
}

.customers_title {
  width: 100%;
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: #263238;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation:
    typing 3.5s steps(40, end) infinite,
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: orange;
  }
}

.customers_title span {
  color: #008000;
}

.customers_text {
  width: 100%;
  max-width: 563px;
  font-weight: 400;
  font-size: 18px;
  line-height: 177%;
  text-align: center;
  color: #263238;
}

.customers_conts {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 48px;
  margin-bottom: 70px;
}

.customers_container {
  width: 100%;
  max-width: 686px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: rgba(0, 128, 0, 0.05);
}

.customers_container-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 193px;
  margin-left: 32px;
}

.customers_container-info p {
  width: 100%;
  max-width: 320px;
  font-weight: 400;
  font-size: 18px;
  line-height: 177%;
  color: #263238;
}

.customers_container-info span {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 177%;
  color: #263238;
}

.view_link {
  width: 100%;
  max-width: 221px;
  border-radius: 10px;
  padding: 13px 70px;
  background: #008000;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 0 auto;
  transition: all 0.3s ease;
}

.view_link:hover {
  background-color: #00b300;
}

/*============================================= footer-app =============================================*/

.footer_app {
  width: 100%;
  margin-bottom: 200px;
}

.footer_app-img {
  position: absolute;
  padding-right: 15px;
}

.footer_app-img img {
  width: 100%;
}

.footer_app-inner {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer_app-title {
  width: 100%;
  max-width: 760px;
  font-weight: 700;
  font-size: 56px;
  text-align: center;
  color: #263238;
  margin: 70px 0 50px;
}

.footer_app-title span {
  color: #008000;
}

.store_icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.store_icons img {
  width: 100%;
}

/*============================================== footer =================================================*/

.footer {
  display: flex;
  flex-direction: column;
}

.footer_inner {
  display: flex;
  flex-direction: column;
}

.footer_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_info {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}

.footer_text {
  width: 100%;
  max-width: 352px;
  font-weight: 400;
  font-size: 18px;
  line-height: 177%;
  color: #263238;
}

.footer_mail {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer_mail-text {
  width: 100%;
  max-width: 438px;
  font-weight: 400;
  font-size: 18px;
  line-height: 177%;
  color: #263238;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.socials_icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.socials_icons a {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #008000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.socials_icons a:hover {
  background-color: #00b300;
}

.socials_text {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  color: #263238;
}

.call {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.call_text {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  color: #263238;
}

.line {
  margin-top: 100px;
  margin-bottom: 55px;
  border: 1px solid rgba(38, 50, 56, 0.31);
  width: 100%;
}

.copyright_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.copyright_text {
  font-weight: 300;
  font-size: 12px;
  color: #263238;
}

.legal-cont {
  display: flex;
  align-items: center;
  gap: 40px;
}

.legal_text {
  font-weight: 400;
  font-size: 14px;
  color: #263238;
  text-decoration: none;
}

/*============================================== responsive =============================================*/

@media screen and (max-width: 1440px) {
  .decorations {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .burger {
    display: block;
  }

  nav {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: -110%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f0f0f0;
    z-index: 999;
    transition: all 0.5s;
  }

  nav.active {
    left: 0;
  }

  .nav_list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
  }

  .nav_list-item {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }

  .pathway_inner {
    flex-direction: column;
    gap: 25px;
  }
}

@media screen and (max-width: 1340px) {
  .footer_app-title {
    font-size: 35px;
  }
}

@media screen and (max-width: 1250px) {

  .intro {
    margin-bottom: 80px;
  }

  .works_inner {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  .works_title {
    font-size: 50px;
  }

  .works_text {
    font-size: 16px;
  }

  .works_instruction-title {
    font-size: 16px;
  }

  .works_instruction-text {
    font-size: 14px;
  }

  .customers_conts {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .sponsors {
    animation: slide 30s linear infinite;
  }

  .pathway {
    margin-bottom: 150px;
  }

  .learnmore_inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 55px;
  }

  .footer_app-title {
    margin: 40px 0 45px;
  }

  .footer_main {
    display: flex;
    flex-direction: column;
    gap: 55px;
  }
}

@media screen and (max-width: 1000px) {
  .customers_title {
    font-size: 40px;
  }

  .customers_text {
    font-size: 16px;
  }

  .footer_app-title {
    font-size: 30px;
    margin: 30px 0 35px;
  }

  .store_icons img {
    width: 150px;
  }

}


@media screen and (max-width: 835px) {
  .intro_title {
    font-size: 50px;
  }

  .intro_text {
    font-size: 14px;
  }

  .footer_app-title {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .slide {
    min-width: 150px;
  }

  .customers_container-info p {
    font-size: 16px;
  }

  .learnmore {
    margin-bottom: 150px;
  }

  .footer_app-title {
    font-size: 20px;
  }

  .store_icons img {
    width: 100px;
  }

  .copyright_cont {
    flex-direction: column;
    gap: 50px;
  }
}

@media screen and (max-width: 600px) {
  .pathway_title {
    font-size: 50px;
  }

  .pathway_text {
    font-size: 16px;
  }

  .pathway_container-text {
    font-size: 16px;
  }

  .learnmore_title {
    font-size: 55px;
  }

  .learnmore_text {
    font-size: 16px;
  }

  .learnmore_container-text {
    font-size: 16px;
  }

  .learnmore_link {
    padding: 15px 45px;
  }

  .customers_container-info p {
    font-size: 14px;
  }

  .customers_container-info span {
    font-size: 16px;
  }

  .footer_app-title {
    font-size: 14px;
    margin: 20px 0 25px;
  }

  .legal-cont {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {

  .customers_container {
    flex-direction: column;
    gap: 25px;
  }

  .customers_container-info p {
    font-size: 12px;
    text-align: center;
    margin: 0 auto;
  }

  .customers_container-info span {
    text-align: center;
  }

  .customers_title {
    font-size: 25px;
  }
}

@media screen and (max-width: 490px) {

  .decoration_header img {
    width: 100%;
    padding-right: 15px;
  }

  form input {
    padding: 10px;
    font-size: 14px;
  }

  .mail_btn {
    width: 100%;
    height: auto;
    padding: 8px;
    font-size: 14px;
  }

  form {
    height: auto;
    padding: 10px;
  }
}

@media screen and (max-width: 480px) {
  .slide {
    min-width: 100px;
  }

  .footer_app-title {
    margin: 15px 0 20px;
  }

  .store_icons img {
    width: 90px;
  }
}

@media screen and (max-width: 415px) {
  .mail_btn {
    max-width: 110px;
  }
}

@media screen and (max-width: 380px) {
  .mail_btn {
    max-width: 100px;
  }

  .footer_app-title {
    font-size: 10px;
  }

  .store_icons img {
    width: 80px;
  }

  .view_link {
    max-width: 190px;
    font-size: 10px;
  }
}

@media screen and (max-width: 350px) {
  .mail_btn {
    max-width: 80px;
    font-size: 12px;
  }
}
